.blocks p {
margin-bottom: 15px;
position: relative;
}

.btn {
background:url(../gfx/bgbtn.jpg) repeat-x;
border: 1px solid #e1e0df;
display: block;
height: 31px;
float: left;
line-height: 31px;
padding: 0 10px;
color:#565e62;
font-weight:bold;
outline: none;
margin-left: 110px;
}

.textInput, .textarea {
padding: 5px 10px;
height: 27px;
border: 1px solid #ddd;
color: #333;
background:url(../gfx/bginput.jpg) repeat-x bottom #fff;
position: relative;
z-index: 2;
}

.textInput {
	width: 430px;
	margin-bottom: 10px;
}

.textarea {
	margin-bottom: 20px;
	height: 150px;
	width: 430px;
}

.blocks label {
float: left;
width: 100px;
line-height: 37px;
text-align: right;
margin-right: 15px;
font-weight: bold;
color: #666;
}

.blocks label.error, .blocks label.ok {
position: absolute;
top: -4px;
left: 110px;
padding: 5px 15px 5px 280px;
z-index: 1;

width:auto;
text-align:left;
margin:0;
background-repeat:no-repeat;
background-position:257px 16px;
}

.blocks label.ok {
background-image:url(../gfx/icook.gif);
background-color:#deefca;
color:#577530;
}

.blocks label.error {
background-image:url(../gfx/icofail.gif);
background-color:#f5d6d7;
color:#c81925;
}

.area label.ok,
.area label.error {
height:163px;
padding-left:410px;
background-position:387px 16px;
}

/*CSS3*/
.btn, .textInput, .textarea, .blocks label.error, .blocks label.ok { 
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

a.btn {
background: #444;
color: #fff;
text-decoration: none;
}