img {border: none;}
img a {border: none;}

.opacity:hover {
	filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;

}.opacityBlock a:hover {
	filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}

.blue {color: #09aaa2;}
.grey {color: #808080;}
.lightGrey {color: #cbcbcb;}
.darkGrey {color: #343434;}
.red {color: #ff0000;}
.black {color: #000;}
.white {color: #fff;}

.blueBg {background: #09aaa2;}
.greyBg {background: #808080;}
.lightGreyBg {background: #cbcbcb;}
.darkGreyBg {background: #343434;}
.redBg {background: #ff0000;}
.blackBg {background: #000;}
.whiteBg {background: #fff;}

.blue a {color: #09aaa2;}
.grey a {color: #808080;}
.lightGrey a {color: #cbcbcb;}
.darkGrey a {color: #343434;}
.red a {color: #ff0000;}
.black a {color: #000;}
.white a {color: #fff;}

.txt12 {font-size: 12px;}
.txt11 {font-size: 11px;}
.txt10 {font-size: 10px; text-transform: uppercase;}

.noList {margin: 0; padding: 0;}
.noList li {list-style: none;}
.noDecoration {text-decoration: none;}
.noDecoration a {text-decoration: none;}
.upper {text-transform: uppercase;}


.fullBlock {width: 950px; position: relative;}

.clear {clear: both;}
.right {float: right;}
.left {float: left;}
.last {margin-right: 0!important;}
.marginB10 {margin-bottom: 10px!important;}
.marginB20 {margin-bottom: 20px!important;}
.marginR20 {margin-right: 20px!important;}
.paddingB10 {padding-bottom: 10px!important;}
.paddingB20 {padding-bottom: 20px!important;}
.noUpper {text-transform: none!important;}
.dBlock {display: block;}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: Arial;
	font-size: 14px;
}

h1 {
	font-family: Trebuchet MS, Arial;
	font-size: 24px;
	font-weight: normal;
	padding: 0 0 0 0;
	margin: 0 0 20px 0; 
}

.main {
	margin: 0 auto 0 auto;
	width: 950px;
	padding: 25px 10px 25px 10px;
}

.header {height: 60px;}

.header .logo {
	text-decoration: none;
	float: left;
	width: 231px;
	height: 40px;
	background: url('../img/logo.jpg') no-repeat left bottom;
	text-align: center;
	vertical-align: top;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;

}

.header .phone {
	width: 210px;
	position: absolute;
	left: 320px;
}

.header .phone .workHours {
	float: left;
	text-align: right;
	padding-left: 16px;
	background: url('../img/hours.jpg') left no-repeat;
}

.header .phone .phoneLink a {border-bottom: dashed 1px #000;}

.header .phone .number {
	font-size: 26px;
	font-weight: bold;
}

.header .cart .cartPic {
	line-height: 10px;
	font-size: 9px;
	padding-top: 7px;
	float: left;
	margin-right: 5px;
	background: url('../img/cart.jpg') no-repeat;
	width: 18px;
	height: 12px;
	display: block;
	text-align: center;
}

.header .help {
	position: absolute;;
	right: 0;
	margin-top: 27px;
	}


.menu {height: 30px;}

.menu .menuLeft {
	position: absolute;
	left: 0;
}

.menu .menuRight {
	right: 0;
	position: absolute;
}

.menu .mainMenu {
	font-weight: bold;
	text-transform: uppercase;
	background: url('../img/menuFon.jpg');
	height: 30px;
}

.menu .mainMenu li {
	position: relative;
	height: 30px;
	float: left;
	line-height: 30px;
	display:block;
}

.menu .mainMenu li a {
	text-shadow:1px 1px 1px rgba(0,0,0,0.75);
	display: block;	
	padding: 0 30px 0 10px;
	background: url('../img/menuSplt2.jpg') right no-repeat;
}

.menu .mainMenu li:hover ul {
	display: block;
}

.menu .mainMenu li ul {
	z-index: 990;
	float: left;
	position: absolute;
	top: 30px;
	left: 0;
	padding: 0;
	margin: 0;
	display: none;
	background: url('../img/menuFon.jpg');
}

.menu .mainMenu li ul li {
	display: block;
	background: url('../img/menuFon.jpg');
}

.menu .mainMenu li ul li a {
	display: block;
	white-space: nowrap;
	padding: 0 10px 0 10px;
	background: url('../img/menuFon.jpg');
}

.menu .menuHome a {
	height: 23px;
	line-height: 0!important;
	padding-top: 7px!important;
	padding-right: 10px!important;
	background-image: url('../img/menuSplit.jpg')!important;
}

.menu .search {
	width: 150px;
	height: 16px;
	padding-left: 4px;
	position: absolute;
	right: 7px;
	top: 7px;
	background: url('../img/searchBg.jpg');
}

#search {
	position: relative;
	top: -2px;
	background: #FFF!important;
	border: none!important;
	padding: 0!important;
	margin: 0!important;
	color: #808080!important;
	font-size: 11px!important;
	width: 130px!important;
	height:12px!important;
	-webkit-appearance: none;

}

#search:focus {outline: none;}

#button {
	padding: 0!important;
	margin: 2px 0 0 0!important;
	-webkit-appearance: none;
}

.breadcrumbs {
	margin-top: 10px;
	margin-bottom: 20px;
}

.breadcrumbs a {
	color: #808080;
	text-decoration: none;
}

.banner {margin: 20px 0 0 0;}

.banner .bannerTop, .banner .bannerDown {height: 225px;}

.banner .bannerNews {
	padding: 20px;
	width: 270px;
	height: 185px;
	background: url('../img/bannerDownBg.jpg');
}

.banner .bannerNews .newsH1 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.mainBrands {
	float: left;
	margin: 25px 0 15px 0;
}

.mainBrands .mainBrandsPic {
	margin-bottom: 10px;
}

.mainBrands .mainBrandsPic li {
	margin-right: 10px;
	float: left;
}

.mainBrands .mainBrandsPic li img {
	width: 70px;
}

.allBrandsLink {
	display: block;
	text-align: center;
	background: url('../img/brandBlackPix.jpg') repeat-x 5px;
}

.allBrandsLink span {
	padding: 0 5px 0 5px;
}

.mainText {
	margin: 20px 0 20px 0;
}

.text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.item {
	margin-bottom: 40px;
}

.item .photoItem {
	width: 390px;
	margin-right: 10px;
}

.item .photoItem li.photoSecond a {
	margin-right: 3px;
	float: left;
}

.item .description {
	width: 390px;
	margin-right: 10px;
}

.item .description li {
	float: left;
	width: 390px;
	margin-bottom: 20px;
}

.item .description li.price span {
	width: 130px;
	float: left;
}

.item .description li.price span b.rub {
	font-size: 20px;
}

.item .description li.buyButton span {
	float: left;
	width: 390px;
}

.item .description li.buyButton span.stock {
	margin-bottom: 5px;
	padding-left: 10px;
	background: url('../img/apply.jpg') no-repeat left 3px;
}

.item .description li.buyButton span.stock b {
	font-weight: normal;
	text-transform: none;
}

.item .description li.itemSocial {
	border-top: 1px #cbcbcb solid;
	border-bottom: 1px #cbcbcb solid;
	padding: 10px 0 10px 0;
}

.item .recomended {
	text-align: center;
	width: 120px;
}

.item .recomended li {
	margin-top: 10px;
}

.item .recomended li.first {
	margin-top: 0!important;
}

.specifications {}

.specifications ul {
	border-top: #cccccc 1px solid;
}

.specifications ul li {
	width: 435px;
	float: left;
	border-bottom: #cccccc 1px solid;
	padding:10px 10px 10px 10px;
}

.specifications ul li b {
	text-align: left;
	width: 225px;
	float: right;
}

.content {
	margin-top: 20px;
	float: left;
	margin-bottom: 20px;
}

.leftCol {
	float: left;
	width: 150px;
	margin-right: 10px;
}

.leftCol .acticveFilter a {
	background: url(../img/cartDel.jpg) no-repeat right 5px;
}

.rightCol {
	float: left;
	width: 790px;
}

.rightCol .brandHead {
	display: block;
	border: 1px dashed #000;
	padding: 5px 5px 5px 10px;
}

.rightCol .brandHead h1 {
	margin: 0!important;
	padding: 0!important;
}

.rightCol .itemName {
	margin-bottom: 10px;
}

.rightCol .itemName h1 {
	padding-bottom: 0!important;
	margin-bottom: 0!important;
	padding-right: 20px;
}

.rightCol .itemName span {
	line-height: 32px;
	padding-right: 10px;
}

.rightCol .pagPage {
	margin-top: 3px;
	float: right;
}

.rightCol .pagPage a {
	margin-left: 5px;
	color: #000;
	border: #b3b3b3 1px solid;
	text-decoration: none;
	float: left;
	display: block;
	padding:0 4px 0 4px;
	height: 14px;
	background: url('../img/pagPage.png');
	border-radius: 3px;
	
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}

.rightCol .sortCat {
	float: left;
}

.rightCol select {
border: 1px solid #CACACA;
border-radius: 3px 3px 3px 3px;
color: #2C2C2C;
cursor: pointer;
font-size: 11px;
margin: 0;
padding: 0 0 0 2px;
text-align: left;
text-decoration: none !important;
width: 130px;
}

.rightCol .itemList {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 800px;
}

.rightCol .itemCard {
	position: relative;
	float: left;
	width: 150px;
	height: 235px;
	margin-right: 10px;
	background: url('../img/itemTop.jpg') no-repeat top left;
}

.rightCol .itemCard span.itemAdd a {
	position: absolute;
	top: 70%;
	display: none;
}

.rightCol .itemCard:hover span.itemAdd a {
	display: block;

	filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}

.rightCol .itemCard span.itemAdd a:hover {	
	filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.rightCol .itemCard .itemLink .catBrands,
.rightCol .itemCard .itemLink .catPrice,
.rightCol .itemCard .itemLink .catName {
	display: block;
}

.rightCol .itemCard a {
	text-decoration: none;
}

.rightCol .itemCard .itemLink .catBrands,
.rightCol .itemCard .itemLink .catPrice {
	font-weight: bold;
}

.rightCol .itemCard .itemLink .saleIcon {
	position: absolute;
	left: 0;
	top: 0;
}

.rightCol .itemCard a.itemLink img {
	margin-bottom: 10px;
}

.footer {
	padding: 20px;
	width: 910px!important;
	height: 76px;
	background: url('../img/footerBg.jpg');
}

.footer ul {
	float: left;
	width: 207px;
	margin-right: 25px;
}

.footer li {
	margin-top: 7px;
}



#options {
	width: 140px;
	padding-left: 7px;
	position: relative;
	z-index: 9;
}

#options input {
	position: relative;
	top: 1px;
	text-align: center;
	background: #FFF!important;
	border: 1px solid #ccc!important;
	padding: 0!important;
	margin: 0!important;
	color: #808080!important;
	font-size: 11px!important;
	width: 35px!important;
	height:12px!important;
	-webkit-appearance: none;
}

#options input#button {
	margin: 10px 0 0 -5px!important;
	width:72px!important; 
	height:23px!important;
	border: none!important;
}

#price,#price2 {
	border:1px solid #074776;
	padding:5px;
	width:80px;
}

#slider_price {
	padding: 0 5px 0 5px!important;
	height: 6px!important;
	margin-top:10px!important;
}

#slider_price a {
	padding: 0 0 0 0;
	z-index: 99;
	top: -3px!important;
	height: 10px!important;
	width: 10px!important;
	background: url('../img/priceIcon.png')!important;
	outline: none!important;
	border: none!important;
}

#slider_price div {
	background: url('../img/priceBg.jpg');
	height: 6px;

}

.linkAlf {
	display: block;
	color: #09aaa2;
}

.cartLeft {
	float: left;
	width: 450px;}

.cartRight {
	float: left;
	width: 450px;
	margin-left: 10px;
}

.cartComplete {
	margin-top: 20px;
}

.fieldHead {
	clear: both;
	margin-bottom: 10px;
	width: 450px;
	float: left;
	display: block;
	border-bottom: 1px #ccc solid;
}

.fieldHead span {
	text-transform: uppercase;
	padding: 8px 10px 8px 10px;
	float: left;
	font-size: 10px;
	background: #cbcbcb;
	border-radius: 3px 3px 0 0;
}

.cartConfirm {
	margin-bottom: 10px;
	clear: both;
	float: left;
	height: 90px;
}

.cartConfirm span {
	line-height: 85px;
	height: 75px;
	float: left;
	display: block;
	width: 75px;
	margin-bottom: 20px;
}

.cartConfirm span.cc1 {
	width: 95px;
}

.cartConfirm span.cc2 {
	text-transform: uppercase;
	font-weight: bold;
}

.cartConfirm span.cc4 {
	text-align: center;
}

.cartConfirm span.cc6 {
	text-align: right;
	width: 55px;
}

.cartItog {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	float: left;
	margin-bottom: 10px;
	clear: both;}

.cartItog .ci1 {
	padding-top: 5px;
	text-align: right;
	padding-right: 30px;
	border-top: 1px solid #ccc;
	width: 80px;
	float: right;
}

.cartItog .ci2 {
	padding-top: 5px;
	border-top: 1px solid #ccc;
	width: 130px;
	float: right;}

.cartItogLeft {
	margin-top: 10px;
	float: left;
	margin-bottom: 20px;
}

.cartItogRight {
	margin-top: 10px;
	margin-bottom: 20px;
	float: right;
}

.radioSelect {}

.radioSelect p {
	height: 30px;
	clear: both;
	width: 450px;
	vertical-align: middle;
}

.radioSelect span {
}
.radioSelect b {
	float: right;
}

.niceRadio {
	float: left;
	z-index: 99px;
	margin-right: 9px;
	width: 21px;
	height: 21px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	background: url(../img/radio-bg.png) left top no-repeat;
}
.radioChecked {
	background-position: left bottom;
}
.niceRadio input {
	margin-left: -30px;/* Смещаем радио в лево, чтобы его не было видно */
}

.stars {
	width: 84px;
	display: block;
	height: 16px;
	margin: 5px 0 5px 0;
	background: url(../img/stars-5.png) -84px top no-repeat;
}

.str1 {
	background: url(../img/stars-5.png) -68px top!important;
}

.str2 {
	background: url(../img/stars-5.png) -51px top!important;
}

.str3 {
	background: url(../img/stars-5.png) -34px top!important;
}

.str4 {
	background: url(../img/stars-5.png) -17px top!important;
}

.str5 {
	background: url(../img/stars-5.png) 0px top!important;
}

.addRew .niceRadio {
	margin-right: 3px!important;
}

.sku {width: 130px;}

.itemstar .stars {
	margin-top: -2px;
}

.hide {
    display: none;
}