<!DOCTYPE html>
{% load catalog_filters %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>TIME TO BUY</title>
    <meta property="og:image" content="{{ STATIC_URL }}img/logo.jpg" />
    <link rel="image_src" href="{{ STATIC_URL }}img/logo.jpg" />
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="all" />
    <link href="{{ STATIC_URL }}css/list.css" rel="stylesheet" media="all" />
    <link href="{{ STATIC_URL }}css/block.css" rel="stylesheet" media="all" />
    <link href="{{ STATIC_URL }}css/cart.css" rel="stylesheet" media="all" />
    <link href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.css" rel="stylesheet" >
    <link href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css" media="screen"  rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/catalog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/price.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slides.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/niceRadio.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#various11").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none'
            });
            $("#various22").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none'
            });

            $("a[rel=example_group]").fancybox({
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'titlePosition'     : 'over',
                'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });
            $("#various1").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none'
            });

            $("#various2").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none'
            });         
        });
    </script>
    {% block customtag %}
    {% endblock %}
</head>

<body>
<!--всплывающие формы-->
<!--обратный звонок-->
<div style="display: none;">
    <div id="inline1" style="width:475px;height:150px;overflow:auto;">              
        <form id="form2" class="blocks" action="#" method="post">
            <b class="dBlock marginB10"><br>Введите номер Вашего телефона, и менеджер свяжется с Вами</b>
            <input type="text" class="textInput" name="name" value="Ваш телефон*" onclick="this.value = '';"/>                      
            <input class="opacity" type="image" src="{{ STATIC_URL }}img/sendButtom.jpg">
        </form>
    </div>
</div>

<!--корзина-->
<div style="display: none;">
    <div id="inline2" style="width:930px;height:600px;overflow:auto;">
        
        <div class="cartComplete txt11 opacityBlock">
            <h1>Оформление заказа</h1>                                      
                <form id="form" class="blocks" action="#" method="post">
                    <div class="cartLeft">
                        <div class="fieldHead"><span>Информация для оплаты и доставки заказа</span></div>                   
                        <input type="text" class="textInput" name="name" value="Имя*" onclick="this.value = '';"/>
                        <input type="text" class="textInput" name="phone" value="Телефон*" onclick="this.value = '';" />
                        <input type="text" class="textInput" name="email" value="E-mail*" onclick="this.value = '';" />
                        <input type="text" class="textInput" name="adres" value="Адрес" onclick="this.value = '';" />
                        * поля обязательные к заполнению<br><br>

                        <div class="fieldHead"><span>Подтверждение заказа</span></div>
                        <div class="cartConfirm">
                            <a class="opacity" href="#">
                                <span class="cc1"><img src="{{ STATIC_URL }}img/photoItem.jpg" width="80"></span>
                                <span class="cc2 blue">Casio</span>
                                <span class="cc3">№AH-35487</span>
                                <span class="cc4">x 2</span>
                                <span class="cc5"><b>26 888 руб.</b></span>
                            </a>
                            <span class="cc6 right"><a href="#"><img src="{{ STATIC_URL }}img/cartDel.jpg"></a></span>
                        </div>

                        <div class="cartConfirm">
                            <a class="opacity" href="#">
                                <span class="cc1"><img src="{{ STATIC_URL }}img/photoItem.jpg" width="80"></span>
                                <span class="cc2 blue">Casio</span>
                                <span class="cc3">№AH-35487</span>
                                <span class="cc4">x 2</span>
                                <span class="cc5"><b>26 888 руб.</b></span>
                            </a>
                            <span class="cc6 right"><a href="#"><img src="{{ STATIC_URL }}img/cartDel.jpg"></a></span>
                        </div>

                        <div class="cartConfirm">
                            <a class="opacity" href="#">
                                <span class="cc1"><img src="{{ STATIC_URL }}img/photoItem.jpg" width="80"></span>
                                <span class="cc2 blue">Casio</span>
                                <span class="cc3">№AH-35487</span>
                                <span class="cc4">x 2</span>
                                <span class="cc5"><b>26 888 руб.</b></span>
                            </a>
                            <span class="cc6 right"><a href="#"><img src="{{ STATIC_URL }}img/cartDel.jpg"></a></span>
                        </div>

                        <div class="cartConfirm">
                            <a class="opacity" href="#">
                                <span class="cc1"><img src="{{ STATIC_URL }}img/photoItem.jpg" width="80"></span>
                                <span class="cc2 blue">Casio</span>
                                <span class="cc3">№AH-35487</span>
                                <span class="cc4">x 2</span>
                                <span class="cc5"><b>26 888 руб.</b></span>
                            </a>
                            <span class="cc6 right"><a href="#"><img src="{{ STATIC_URL }}img/cartDel.jpg"></a></span>
                        </div>

                        <div class="cartItogRight">
                            <div class="cartItog">
                                <span class="ci2">42 000 <b class="noUpper">руб.</b></span>
                                <span class="ci1">Сумма:</span>
                            </div>

                            <div class="cartItog">
                                <span class="ci2">Нерасчитана</span>
                                <span class="ci1">Доставка: </span>
                            </div>

                            <div class="cartItog">
                                <span class="ci2">42 000 <b class="noUpper">руб.</b></span>
                                <span class="ci1">Итого:</span>
                            </div>
                        </div>

                        <div class="cartItogLeft">
                            <input class="marginB10 opacity" type="image" src="{{ STATIC_URL }}img/cartComp.jpg">
                            <br>
                            <a onclick="$.fancybox.close();" href="javascript:;"><img src="{{ STATIC_URL }}img/cartBack.jpg"></a>
                        </div>
                    </div>              

                    <div class="cartRight">
                        <div class="fieldHead"><span>Способ доставки</span></div>   
                        <div class="radioSelect">
                            <p>
                                <input class="niceRadio" type="radio" name="check1" checked="checked" />
                                <span>Доставка в приделах МКАД</span>
                                <b>0 руб.</b>
                            </p>

                            <p>
                                <input class="niceRadio" type="radio" name="check1" />
                                <span>За МКАД и Подмосковье<br>при сумме заказа менее 5 000 руб.</span>
                                <b>300 руб.</b>
                            </p>

                            <p>
                                <input class="niceRadio" type="radio" name="check1" />
                                <span>Доставка по России<br>первым классом</span>
                                <b>Расчитывается индивидуально</b>
                            </p>
                        </div>

                        <p><b>Внимание!</b> При курьерской доставке заказа по Москве, в случае отказа от покупки, по причинам не связаным с качеством товара, Вам необходимо оплатить 300 рублей за курьерские услуги.</p>

                        <div class="fieldHead"><span>Вы можете оставить комментарий к своему заказу</span></div>    
                        <textarea class="textarea" name="message"></textarea>
                    </div>          
                </form> 
        </div>

    </div>
</div>
<!--всплывающие формы конец-->

<div class="main">
    <div class="header fullBlock">
        <a href="/" class="logo opacity lightGrey">интернет-магазин часов</a>

        <div class="phone txt11">
            <div class="workHours grey">с 10:00 до 20:00&ensp;|&ensp; </div>
            <div class="phoneLink"><a id="various1" class="left noDecoration black opacity" href="#inline1">Обратный звонок</a></div>
            <div class="number left">8 <span class="blue">(499)</span> <!--noskype></noskype-->662-87-99</div>
        </div>

        <div class="cart right opacityBlock">
            <a class="noDecoration blue txt11" id="various2" href="#inline2">
                <span class="cartPic white">12</span>
                <span class="cartTxt"><b class=" txt10">Корзина: </b>55&thinsp;000&thinsp;руб.</span>
            </a>
        </div>

        <div class="help right txt10 opacityBlock black noDecoration">
            <a href="">Оплата</a>
            &ensp;|&ensp;
            <a href="">Доставка</a>
            &ensp;|&ensp;
            <a href="">Гарантия</a>
            &ensp;|&ensp;
            <a href="">Контакты</a>
        </div>
    </div>
    <div class="menu fullBlock">
        <span class="menuLeft"><img src="{{ STATIC_URL }}img/menuLeft.jpg"></span>
        <span class="menuRight"><img src="{{ STATIC_URL }}img/menuRight.jpg"></span>
        <ul class="mainMenu noList txt11 white noDecoration opacityBlock">
            <li class="menuHome"><a href="/"><img src="{{ STATIC_URL }}img/menuHome.jpg"></a></li>
            {% menu request %}
        </ul>
        <div class="search lightGrey right">
            <form action="#" class="searchForm">
                <input id="search" type="text" name="filter_name" value="Найти часы..." onclick="this.value = '';" onkeydown="this.style.color = '#000000';">
                <input id="button" type="image" src="{{ STATIC_URL }}img/search.jpg">
            </form>
        </div>
    </div>
{% block main %}
{% endblock %}
<div class="footer fullBlock txt11 opacityBlock clear">
    <ul class="noList">
        <span class="blue upper">информация</span>
        <li><a class="white" href="#">О компании</a></li>
        <li><a class="white" href="#">Контактная информаця</a></li>
        <li><a class="white" href="#">Пользовательское соглашение</a></li>
    </ul>

    <ul class="noList">
        <span class="blue upper">Поддержка</span>
        <li><a class="white" href="#">Способы оплаты</a></li>
        <li><a class="white" href="#">Варианты доставки</a></li>
        <li><a class="white" href="#">Гарантии на товар</a></li>
    </ul>

    <ul class="noList">
        <span class="blue upper">ДОПОЛНИТЕЛЬНО</span>
        <li><a class="white" href="#">Регулировка браслета</a></li>
        <li><a class="white" href="#">21 день на возврат</a></li>
    </ul>

    <ul class="noList last">
        <span class="blue upper">Следуйте за нами</span>
        <li><a class="white" href="#"><img src="{{ STATIC_URL }}img/vk.png"></a>&ensp; <a class="white" href="#"><img src="{{ STATIC_URL }}img/fc.png"></a></li>
    </ul>
</div>
</div>
</body>
</html>