{% extends 'base.html' %}
{% load cart_filters %}
{% load thumbnail %}
{% block main %}
    <div class="cartComplete txt11 opacityBlock">
    {% if cart_items %}
        {% if is_order %}
            Спасибо за заказ, в ближайшее время мы с вами свяжемся.
        {% else %}
        <h1>Оформление заказа</h1>
        <form id="form" class="blocks" action="" method="post">{% csrf_token %}
            <div class="cartLeft">
                <div class="fieldHead"><span>Информация для оплаты и доставки заказа</span></div>
                {{ form.name.errors }}
                {{ form.name }}
                {{ form.phone.errors }}
                {{ form.phone }}
                {{ form.email.errors }}
                {{ form.email }}
                {{ form.address }}
                * поля обязательные к заполнению<br><br>

                <div class="fieldHead"><span>Подтверждение заказа</span></div>
                {% for item in cart_items %}
                    <div class="cartConfirm cartitem">
                    <a class="opacity" href="{{ item.product.get_absolute_url }}" target="_blank">
                        {% thumbnail item.product.productphoto_set.all.0.image "80x80" as im %}
                            <span class="cc1"><img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"></span>
                        {% endthumbnail %}
                        <span class="cc2 blue">{{ item.product.brand }}</span>
                        <span class="cc3">{{ item.product.article }}</span>
                        <span class="cc4">x {{ item.quantity }}</span>
                        <span class="cc5"><b>{{ item.quantity|multiply:item.product.price }} руб.</b></span>
                    </a>
                    <span class="cc6 right"><a data-url="{% url remove-cart-item item.id %}" class="del-cart-item" href="#"><img src="{{ STATIC_URL }}img/cartDel.jpg"></a></span>
                </div>
                {% endfor %}

                <div class="cartItogRight">
                    <div class="cartItog">
                        <span class="ci2 total">{{ cart_subtotal }} <b class="noUpper">руб.</b></span>
                        <span class="ci1">Сумма:</span>
                    </div>
                </div>

                <div class="cartItogLeft">
                    <input class="marginB10 opacity" type="image" src="{{ STATIC_URL }}img/cartComp.jpg">
                    <br>
                    <a href="#"><img src="{{ STATIC_URL }}img/cartBack.jpg"></a>
                </div>
            </div>

            <div class="cartRight">
                <div class="fieldHead"><span>Способ доставки</span></div>
                <div class="radioSelect">
                    <p>
                        {{ form.delivery.0 }}
                        <span>Доставка в приделах МКАД</span>
                        <b>0 руб.</b>
                    </p>

                    <p>
                        {{ form.delivery.1 }}
                        <span>За МКАД и Подмосковье<br>при сумме заказа менее 5 000 руб.</span>
                        <b>300 руб.</b>
                    </p>

                    <p>
                        {{ form.delivery.2 }}
                        <span>Доставка по России<br>первым классом</span>
                        <b>Расчитывается индивидуально</b>
                    </p>
                </div>

                <p><b>Внимание!</b> При курьерской доставке заказа по Москве, в случае отказа от покупки, по причинам не связаным с качеством товара, Вам необходимо оплатить 300 рублей за курьерские услуги.</p>

                <div class="fieldHead"><span>Вы можете оставить комментарий к своему заказу</span></div>
                {{ form.comment }}
            </div>
        </form>
    {% endif %}
        {% else %}
        Корзина пуста
    {% endif %}
    </div>
{% endblock %}