{% extends 'base.html' %}
{% load cart_filters %}
{% block main %}
    <div class="cartComplete txt11 opacityBlock">
        <h1>Оформление заказа</h1>
        <form id="form" class="blocks" action="#" method="post">
            <div class="cartLeft">
                <div class="fieldHead"><span>Информация для оплаты и доставки заказа</span></div>
                <input type="text" class="textInput" name="name" value="Имя*" onclick="this.value = '';">
                <input type="text" class="textInput" name="phone" value="Телефон*" onclick="this.value = '';" oldautocomplete="remove" autocomplete="off">
                <input type="text" class="textInput" name="email" value="E-mail*" onclick="this.value = '';" oldautocomplete="remove" autocomplete="off">
                <input type="text" class="textInput" name="adres" value="Адрес" onclick="this.value = '';">
                * поля обязательные к заполнению<br><br>

                <div class="fieldHead"><span>Подтверждение заказа</span></div>
                {% for item in cart_items %}
                    <div class="cartConfirm">
                    <a class="opacity" href="{{ item.product.get_absolute_url }}" target="_blank">
                        <span class="cc1"><img src="/{{ item.product.thumbnail_image.url }}" width="80"></span>
                        <span class="cc2 blue">{{ item.product.brand }}</span>
                        <span class="cc3">{{ item.product.article }}</span>
                        <span class="cc4">x {{ item.quantity }}</span>
                        <span class="cc5"><b>{{ item.quantity|multiply:item.product.price }} руб.</b></span>
                    </a>
                    <span class="cc6 right"><a href="#"><img src="{{ STATIC_URL }}img/cartDel.jpg"></a></span>
                </div>
                {% endfor %}

                <div class="cartItogRight">
                    <div class="cartItog">
                        <span class="ci2">{{ cart_subtotal }} <b class="noUpper">руб.</b></span>
                        <span class="ci1">Сумма:</span>
                    </div>
                </div>

                <div class="cartItogLeft">
                    <input class="marginB10 opacity" type="image" src="{{ STATIC_URL }}img/cartComp.jpg">
                    <br>
                    <a href="#"><img src="{{ STATIC_URL }}img/cartBack.jpg"></a>
                </div>
            </div>

            <div class="cartRight">
                <div class="fieldHead"><span>Способ доставки</span></div>
                <div class="radioSelect">
                    <p>
                        <span class="niceRadio radioChecked"><input type="radio" name="check1" id="undefined" checked="checked" tabindex="undefined" value="on"></span>
                        <span>Доставка в приделах МКАД</span>
                        <b>0 руб.</b>
                    </p>

                    <p>
                        <span class="niceRadio"><input type="radio" name="check1" id="undefined" tabindex="undefined" value="on"></span>
                        <span>За МКАД и Подмосковье<br>при сумме заказа менее 5 000 руб.</span>
                        <b>300 руб.</b>
                    </p>

                    <p>
                        <span class="niceRadio"><input type="radio" name="check1" id="undefined" tabindex="undefined" value="on"></span>
                        <span>Доставка по России<br>первым классом</span>
                        <b>Расчитывается индивидуально</b>
                    </p>
                </div>

                <p><b>Внимание!</b> При курьерской доставке заказа по Москве, в случае отказа от покупки, по причинам не связаным с качеством товара, Вам необходимо оплатить 300 рублей за курьерские услуги.</p>

                <div class="fieldHead"><span>Вы можете оставить комментарий к своему заказу</span></div>
                <textarea class="textarea" name="message"></textarea>
            </div>
        </form>
    </div>
{% endblock %}