{% extends 'base.html' %}
{% block main %}
<div class="content fullBlock left">
<div class="leftCol">
    <div id="container" class="opacityBlock">

    {% if chosen_params %}
    <h2 class="trigger"><a href="#">Активные фильтры</a></h2>
        <div class="toggle_container">
            <div class="block blue opacityBlock">
                <div class="block blue opacityBlock acticveFilter">
                    {% for param in chosen_params %}
                    <b class="black">{{ param.1 }}:</b><br>
                    <a class="filter_link" href="#" class="active_link" data-filter-name="{{ param.0 }}" data-filter-value="delete">{{ param.2 }}</a>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if not brand_is_filter %}
    <h2 class="trigger active"><a href="#">Бренды часов</a></h2>
        <div class="toggle_container">
            <div class="block">
                <ul class="countryMenu noList">
                    {% for cat in brands_cat %}
                        <li>
                            <a class="filter_link" href="#" data-filter-name="brandscat" data-filter-value="{{ cat.id }}"><img src="/{{ cat.logo.url }}">{{ cat.name }}</a>
                            <ul>
                                {% for brand in cat.brand_set.all %}
                                    {% if brand.id in brands %}
                                        <li><a class="filter_link" href="#" data-filter-name="brand" data-filter-value="{{ brand.id }}">{{ brand.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

        <h2 class="trigger"><a href="#">Фильтр цены</a></h2>
        <div class="toggle_container">
            <div class="block blue opacityBlock">

                <div id="options" class="txt11">
                    <form id="price-form">
                        <label for="price">От:
                            <input type="text" name="price" id="price" data-min-price="{{ min_price }}">
                        </label>

                        <label for="price2">До:
                            <input type="text" name="price2" id="price2" data-max-price="{{ max_price }}">
                            руб.
                        </label>
                        <div id="slider_price"></div>

                        <input class='opacity' id='button' type="image" src='{{ STATIC_URL }}img/filterPrice.jpg'/>

                    </form>
                </div>

            </div>
        </div>

        {% if genders|length > 1 %}
        <h2 class="trigger"><a href="#">Пол</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in genders %}
                    <a class="filter_link" href="#" data-filter-name="gender" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if mechanisms|length > 1 %}
        <h2 class="trigger"><a href="#">Механизм</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in mechanisms %}
                    <a class="filter_link" href="#" data-filter-name="mechanism" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bodys|length > 1 %}
        <h2 class="trigger"><a href="#">Корпус</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in bodys %}
                    <a class="filter_link" href="#" data-filter-name="body" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bracelets|length > 1 %}
        <h2 class="trigger"><a href="#">Браслет</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in bracelets %}
                    <a class="filter_link" href="#" data-filter-name="bracelet" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bracelet_lengths|length > 1 %}
        <h2 class="trigger"><a href="#">Длина браслета</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in bracelet_lengths %}
                    <a class="filter_link" href="#" data-filter-name="bracelet_length" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if windows|length > 1 %}
        <h2 class="trigger"><a href="#">Стекло</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in windows %}
                    <a class="filter_link" href="#" data-filter-name="window" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if waterproofs|length > 1 %}
        <h2 class="trigger"><a href="#">Водозащита</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in waterproofs %}
                    <a class="filter_link" href="#" data-filter-name="waterproof" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if colors|length > 1 %}
        <h2 class="trigger"><a href="#">Цвет ремня/Браслета</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in colors %}
                    <a class="filter_link" href="#" data-filter-name="color" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if time_indications|length > 1 %}
        <h2 class="trigger"><a href="#">Индикация времени</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in time_indications %}
                    <a class="filter_link" href="#" data-filter-name="time_indication" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if dial_colors|length > 1 %}
        <h2 class="trigger"><a href="#">Цвет циферблата</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in dial_colors %}
                    <a class="filter_link" href="#" data-filter-name="dial_color" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if calendars|length > 1 %}
        <h2 class="trigger"><a href="#">Календарь</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in calendars %}
                    <a class="filter_link" href="#" data-filter-name="calendar" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if chronographs|length > 1 %}
        <h2 class="trigger"><a href="#">Хронограф</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in chronographs %}
                    <a class="filter_link" href="#" data-filter-name="chronograph" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if type_of_locks|length > 1 %}
        <h2 class="trigger"><a href="#">Тип застежки</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in type_of_locks %}
                    <a class="filter_link" href="#" data-filter-name="type_of_lock" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if battery|length > 1 %}
        <h2 class="trigger"><a href="#">Питание</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in battery %}
                    <a class="filter_link" href="#" data-filter-name="battery" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if gps|length > 1 %}
        <h2 class="trigger"><a href="#">GPS</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in gps %}
                    <a class="filter_link" href="#" data-filter-name="gps" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if digit|length > 1 %}
        <h2 class="trigger"><a href="#">Цифры</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in digit %}
                    <a class="filter_link" href="#" data-filter-name="digit" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if format|length > 1 %}
        <h2 class="trigger"><a href="#">Формат</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in format %}
                    <a class="filter_link" href="#" data-filter-name="format" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if seconds|length > 1 %}
        <h2 class="trigger"><a href="#">Секундная стрелка</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in seconds %}
                    <a class="filter_link" href="#" data-filter-name="seconds" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if skeleton|length > 1 %}
        <h2 class="trigger"><a href="#">Скелетон</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in skeleton %}
                    <a class="filter_link" href="#" data-filter-name="skeleton" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if boom|length > 1 %}
        <h2 class="trigger"><a href="#">Противоударные</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in boom %}
                    <a class="filter_link" href="#" data-filter-name="boom" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if auto_battery|length > 1 %}
        <h2 class="trigger"><a href="#">Автоподзавод</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in auto_battery %}
                    <a class="filter_link" href="#" data-filter-name="auto_battery" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if anti_reflective|length > 1 %}
        <h2 class="trigger"><a href="#">Антибликовое покрытие стекла</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in anti_reflective %}
                    <a class="filter_link" href="#" data-filter-name="anti_reflective" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if stone|length > 1 %}
        <h2 class="trigger"><a href="#">Камень-вставка</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in stone %}
                    <a class="filter_link" href="#" data-filter-name="stone" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if clock_accuracy|length > 1 %}
        <h2 class="trigger"><a href="#">Точность хода</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in clock_accuracy %}
                    <a class="filter_link" href="#" data-filter-name="clock_accuracy" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

      {% if alarm|length > 1 %}
        <h2 class="trigger"><a href="#">Будильник</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in alarm %}
                    <a class="filter_link" href="#" data-filter-name="alarm" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if pulse|length > 1 %}
        <h2 class="trigger"><a href="#">Пульсометр</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in pulse %}
                    <a class="filter_link" href="#" data-filter-name="pulse" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if flash_light_display|length > 1 %}
        <h2 class="trigger"><a href="#">Подсветка дисплея</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in flash_light_display %}
                    <a class="filter_link" href="#" data-filter-name="flash_light_display" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if flash_light_arrow|length > 1 %}
        <h2 class="trigger"><a href="#">Подсветка стрелок</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in flash_light_arrow %}
                    <a class="filter_link" href="#" data-filter-name="flash_light_arrow" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if second_time|length > 1 %}
        <h2 class="trigger"><a href="#">Второй часовой пояс</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in second_time %}
                    <a class="filter_link" href="#" data-filter-name="second_time" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if note|length > 1 %}
        <h2 class="trigger"><a href="#">Записная книжка</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in note %}
                    <a class="filter_link" href="#" data-filter-name="note" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if second_timer|length > 1 %}
        <h2 class="trigger"><a href="#">Секундомер</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in second_timer %}
                    <a class="filter_link" href="#" data-filter-name="second_timer" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if compass|length > 1 %}
        <h2 class="trigger"><a href="#">Компас</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in compass %}
                    <a class="filter_link" href="#" data-filter-name="compass" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if timer|length > 1 %}
        <h2 class="trigger"><a href="#">Таймер</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in timer %}
                    <a class="filter_link" href="#" data-filter-name="timer" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if thermometer|length > 1 %}
        <h2 class="trigger"><a href="#">Термометр</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in thermometer %}
                    <a class="filter_link" href="#" data-filter-name="thermometer" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if altimeter|length > 1 %}
        <h2 class="trigger"><a href="#">Высотомер</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in altimeter %}
                    <a class="filter_link" href="#" data-filter-name="altimeter" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% if memory|length > 1 %}
        <h2 class="trigger"><a href="#">Встроенная память</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in memory %}
                    <a class="filter_link" href="#" data-filter-name="memory" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if weight|length > 1 %}
        <h2 class="trigger"><a href="#">Вес часов</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in weight %}
                    <a class="filter_link" href="#" data-filter-name="weight" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if size|length > 1 %}
        <h2 class="trigger"><a href="#">Размер часов</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in size %}
                    <a class="filter_link" href="#" data-filter-name="size" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    </div>
</div>

<div class="rightCol">
<div class="itemName txt12 grey noDecoration opacityBlock">
    <h1 class="left black">{{ section.name }}</h1>
</div>

<div class="sortAndPag txt11 opacityBlock">
    <div class="pagPage">
        <a href="#">Показать все</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">Дальше</a>
    </div>
</div>

<div class="itemList txt11">
    {% for clock in clocks %}
        <div class="itemCard">
        <span class="itemAdd"><a href="#"><img src="{{ STATIC_URL }}img/addCart.png"></a></span>
        <a class="itemLink" href="#">
            <img src="/{{ clock.thumbnail_image.thumb_url}}" width="150">
            <span class="catBrands black">{{ clock.brand }}</span>
            <span class="catName grey">{{ clock.category.all.0.section.name }} {{ clock.name }}</span>
            <span class="catPrice blue">{{ clock.price }} руб.</span>
        </a>
    </div>
    {% endfor %}
</div>

<div class="sortAndPag txt11 opacityBlock">
    <div class="pagPage">
        <a href="#">Показать все</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">Дальше</a>
    </div>
</div>
</div>
</div>
{% endblock %}
