{% extends 'base.html' %}
{% block main %}
<div class="content fullBlock left">
<div class="leftCol">
    <div id="container" class="opacityBlock">
        <h2 class="trigger active"><a href="#">Бренды часов</a></h2>
        <div class="toggle_container">
            <div class="block">
                <ul class="countryMenu noList">
                    {% for cat in brands_cat %}
                        <li>
                            <a href="#"><img src="/{{ cat.logo.url }}">{{ cat.name }}</a>
                            <ul>
                                {% for brand in cat.brand_set.all %}
                                    {% if brand.id in brands %}
                                        <li><a href="{{ brand }}">{{ brand.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h2 class="trigger"><a href="#">Активные фильтры</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
            </div>
        </div>

        <h2 class="trigger"><a href="#">Фильтр цены</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">

                <div id="options" class="txt11">
                    <form>
                        <label for="price">От:
                            <input type="text" name="price" id="price">
                        </label>

                        <label for="price2">до:
                            <input type="text" name="price2" id="price2">
                            руб.
                        </label>
                    </form>
                    <div id="slider_price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
                </div>

            </div>
        </div>

        {% if genders|length != 1 %}
        <h2 class="trigger"><a href="#">Пол</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in genders %}
                    <a href="#" data-filter-name="gender" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if mechanisms|length != 1 %}
        <h2 class="trigger"><a href="#">Механизм</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in mechanisms %}
                    <a href="#" data-filter-name="mechanism" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bodys|length != 1 %}
        <h2 class="trigger"><a href="#">Корпус</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in bodys %}
                    <a href="#" data-filter-name="body" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bracelets|length != 1 %}
        <h2 class="trigger"><a href="#">Браслет</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in bracelets %}
                    <a href="#" data-filter-name="bracelet" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bracelet_lengths|length != 1 %}
        <h2 class="trigger"><a href="#">Длина браслета</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in bracelet_lengths %}
                    <a href="#" data-filter-name="bracelet_length" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if windows|length != 1 %}
        <h2 class="trigger"><a href="#">Стекло</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in windows %}
                    <a href="#" data-filter-name="window" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if waterproofs|length != 1 %}
        <h2 class="trigger"><a href="#">Водозащита</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in waterproofs %}
                    <a href="#" data-filter-name="waterproof" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if colors|length != 1 %}
        <h2 class="trigger"><a href="#">Цвет ремня/Браслета</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in colors %}
                    <a href="#" data-filter-name="color" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if time_indications|length != 1 %}
        <h2 class="trigger"><a href="#">Индикация времени</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in time_indications %}
                    <a href="#" data-filter-name="time_indication" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if dial_colors|length != 1 %}
        <h2 class="trigger"><a href="#">Цвет циферблата</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in dial_colors %}
                    <a href="#" data-filter-name="dial_color" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if calendars|length != 1 %}
        <h2 class="trigger"><a href="#">Календарь</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in calendars %}
                    <a href="#" data-filter-name="calendar" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if chronographs|length != 1 %}
        <h2 class="trigger"><a href="#">Хронограф</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in chronographs %}
                    <a href="#" data-filter-name="chronograph" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if type_of_locks|length != 1 %}
        <h2 class="trigger"><a href="#">Тип застежки</a></h2>
        <div class="toggle_container" style="display: none;">
            <div class="block blue opacityBlock">
                {% for feature in type_of_locks %}
                    <a href="#" data-filter-name="type_of_lock" data-filter-value="{{ feature.1 }}">{{ feature.0 }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="rightCol">
<div class="itemName txt12 grey noDecoration opacityBlock">
    <h1 class="left black">{{ section.name }}</h1>
</div>

<div class="sortAndPag txt11 opacityBlock">
    <div class="pagPage">
        <a href="#">Показать все</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">Дальше</a>
    </div>
</div>

<div class="itemList txt11">
    {% for clock in clocks %}
        <div class="itemCard">
        <span class="itemAdd"><a href="#"><img src="{{ STATIC_URL }}img/addCart.png"></a></span>
        <a class="itemLink" href="#">
            <img src="/{{ clock.thumbnail_image.thumb_url}}" width="150">
            <span class="catBrands black">{{ clock.brand }}</span>
            <span class="catName grey">{{ clock.category.all.0.section.name }} {{ clock.name }}</span>
            <span class="catPrice blue">{{ clock.price }} руб.</span>
        </a>
    </div>
    {% endfor %}
</div>

<div class="sortAndPag txt11 opacityBlock">
    <div class="pagPage">
        <a href="#">Показать все</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">Дальше</a>
    </div>
</div>
</div>
</div>
{% endblock %}
