{% extends 'base.html' %}
{% block main %}
    <div class="item fullBlock ">
        <ul class="photoItem noList left"><li class="photoFirst"><img src="{{ STATIC_URL }}img/photoItem.jpg"></li></ul>

        <ul class="description noList left">
            <h1>{{ clock.brand }} {{ clock.name }}</h1>
            <li class="price">
                <span><b class="txt10">Цена:</b><br><b class="rub red">{{ clock.price }} руб.</b></span>
                {% if clock.old_price %}
                <span class="grey"><b class="txt10">Старая цена:</b><br><b class="rub"><s>{{ clock.old_price }} руб.</s></b></span>
                {% endif %}
            </li>
            <li><span><b class="txt10">Артикул:</b><br><b class="blue">{{ clock.article }}</b></span></li>
            <li class="buyButton opacityBlock">
                <span><a href=""><img src="{{ STATIC_URL }}img/buttonCart.jpg"></a></span>
            </li>
            <li class="txt11">{{ clock.description|safe }}</li>
        </ul>
    </div>
    <dl class="tabs txt12 left">
        <dt class="selected txt10">Характеристики</dt>
        <dd class="selected">
            <div class="tab-content specifications">
                <ul class="noList">
                    {% for feature in features %}
                        {% for name, value in feature.items %}
                        <li>{{ name }}:<b>{{ value }}</b></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </dd>

{% endblock %}
